@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@font-face {
    font-family: "SFSportsNight";
    src: local("SFSportsNight"),
    url("./fonts/SFSportsNight/SFSportsNight.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SFSportsNightUpright";
    src: local("SFSportsNightUpright"),
    url("./fonts/SFSportsNight/SFSportsNightUpright.ttf") format("truetype");
    font-weight: normal;
}